# Parquet Explorer

This tutorial explores some basic query operations on Parquet files written by Nautilus. We'll utilize both the `datafusio`n and `pyarrow` libraries.

Before proceeding, ensure that you have `datafusion` installed. If not, you can install it by running:
```bash
pip install datafusion
```

In [1]:
import datafusion
import pyarrow.parquet as pq

In [2]:
trade_tick_path = "../../tests/test_data/nautilus/trades.parquet"
bar_path = "../../tests/test_data/nautilus/bars.parquet"

In [3]:
# Create a context
ctx = datafusion.SessionContext()

In [4]:
# Run this cell once (otherwise will error)
ctx.register_parquet("trade_0", trade_tick_path)
ctx.register_parquet("bar_0", bar_path)

### TradeTick data

In [5]:
query = "SELECT * FROM trade_0 ORDER BY ts_init"
df = ctx.sql(query)

In [6]:
df.schema()

price: int64 not null
size: uint64 not null
aggressor_side: uint8 not null
trade_id: string not null
ts_event: uint64 not null
ts_init: uint64 not null

In [7]:
df

DataFrame()
+------------+------------+----------------+----------+----------+---------+
| price      | size       | aggressor_side | trade_id | ts_event | ts_init |
+------------+------------+----------------+----------+----------+---------+
| 1234000000 | 5000000000 | 1              | 123456   | 0        | 0       |
| 1234000000 | 5000000000 | 1              | 123456   | 0        | 0       |
| 1234000000 | 5000000000 | 1              | 123456   | 0        | 0       |
| 1234000000 | 5000000000 | 1              | 123456   | 0        | 0       |
| 1234000000 | 5000000000 | 1              | 123456   | 0        | 0       |
| 1234000000 | 5000000000 | 1              | 123456   | 0        | 0       |
| 1234000000 | 5000000000 | 1              | 123456   | 0        | 0       |
| 1234000000 | 5000000000 | 1              | 123456   | 0        | 0       |
| 1234000000 | 5000000000 | 1              | 123456   | 0        | 0       |
| 1234000000 | 5000000000 | 1              | 123456   | 0        | 0       |
+------------+------------+----------------+----------+----------+---------+

In [8]:
table = pq.read_table(trade_tick_path)

In [9]:
table.schema

price: int64 not null
size: uint64 not null
aggressor_side: uint8 not null
trade_id: string not null
ts_event: uint64 not null
ts_init: uint64 not null
-- schema metadata --
instrument_id: 'EUR/USD.SIM'
price_precision: '4'
size_precision: '4'

### Bar data

In [10]:
query = "SELECT * FROM bar_0 ORDER BY ts_init"
df = ctx.sql(query)

In [11]:
df.schema()

open: int64 not null
high: int64 not null
low: int64 not null
close: int64 not null
volume: uint64 not null
ts_event: uint64 not null
ts_init: uint64 not null

In [12]:
df

DataFrame()
+-------+-------+-------+-------+-----------------+---------------------+---------------------+
| open  | high  | low   | close | volume          | ts_event            | ts_init             |
+-------+-------+-------+-------+-----------------+---------------------+---------------------+
| 28530 | 28540 | 28510 | 28540 | 36304200000000  | 1637971200000000000 | 1637971200000000000 |
| 28540 | 28600 | 28540 | 28590 | 89196600000000  | 1637971260000000000 | 1637971260000000000 |
| 28590 | 28600 | 28570 | 28590 | 26547300000000  | 1637971320000000000 | 1637971320000000000 |
| 28580 | 28620 | 28490 | 28570 | 162305700000000 | 1637971380000000000 | 1637971380000000000 |
| 28560 | 28570 | 28540 | 28550 | 4213900000000   | 1637971440000000000 | 1637971440000000000 |
| 28540 | 28580 | 28540 | 28570 | 7530200000000   | 1637971500000000000 | 1637971500000000000 |
| 28580 | 28590 | 28570 | 28580 | 3764000000000   | 1637971560000000000 | 1637971560000000000 |
| 28570 | 28620 | 28550 | 28620 | 42475400000000  | 1637971620000000000 | 1637971620000000000 |
| 28620 | 28630 | 28610 | 28630 | 4470200000000   | 1637971680000000000 | 1637971680000000000 |
| 28630 | 28650 | 28630 | 28650 | 8160500000000   | 1637971740000000000 | 1637971740000000000 |
+-------+-------+-------+-------+-----------------+---------------------+---------------------+

In [13]:
table = pq.read_table(bar_path)
table.schema

open: int64 not null
high: int64 not null
low: int64 not null
close: int64 not null
volume: uint64 not null
ts_event: uint64 not null
ts_init: uint64 not null
-- schema metadata --
price_precision: '8'
size_precision: '8'
bar_type: 'ADABTC.BINANCE-1-MINUTE-LAST-EXTERNAL'
instrument_id: 'ADABTC.BINANCE'